@import "../Home/ListJobs.scss";
@import "../Variable.scss";
.candidateTag {
  a {
    border: 1px solid $bgButtonApply;
    border-radius: 5px;
    padding: 0.1rem 0.7rem;
    color: $bgButtonApplyHover;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    margin-right: 1rem;
    &:hover {
      background: linear-gradient(90deg, #fc7979 50%, $bgButtonApply 100%);
      color: white;
    }
  }
}
.candidateContent {
  .candidate__box {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 2rem 1.5rem;
    border-radius: 5px;
    margin-bottom: 2rem;
    &__title {
      font-size: 1.5rem;
      margin-bottom: 1rem;
      letter-spacing: 0.1rem;
    }
    &__content {
      text-align: justify;
    }
    &__skill {
      .skill__detail {
        display: flex;
        align-items: center;
        &__name {
          width: 20%;
        }
        &__line {
          height: 4px;
          width: 80%;
          .line {
            height: 100%;
            background-color: $bgButtonDeadline;
            border-radius: 10px;
          }
        }
      }
    }
    &__detail {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;
      &__icon {
        width: 50px;
        height: 50px;
        border: 1px solid rgba(99, 99, 99, 0.2);
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 1rem;
        i {
          font-size: 1rem;
          color: rgba(99, 99, 99, 0.8);
        }
      }
      &__title {
        font-size: 1.2rem;
      }
    }
    &__email {
      input[type="text"] {
        outline: none;
        width: 100%;
        margin-bottom: 1rem;
        height: 2.5rem;
        border: 1px solid rgba(99, 99, 99, 0.8);
        border-radius: 5px;
        padding: 0 0 0 1rem;
      }
      input[type="submit"] {
        width: 100%;
        font-size: 1.1rem;
        background-color: $bgButtonApply;
        padding: 0.5rem 0 0.5rem 0;
        border: none;
        transition: 0.5s;
        border-radius: 5px;
        color: white;
        &:hover {
          background-color: $bgButtonApplyHover;
        }
      }
    }
  }
  // .job{
  //     margin-top: 2rem;
  //     margin-bottom: 3rem;
  //     &__title{
  //         font-size: 1.5rem;
  //         margin-bottom: 1rem;
  //     }
  //     &__content{
  //         @include jobBox();
  //         .job__box{
  //             margin-bottom: 1rem;
  //         }
  //     }
  // }
}
