@import "./Variable.scss";
.breadcrumb{
    background-color: #dfd9d9;
    height: 2.5rem;
    line-height: 2.5;
    a{
        text-decoration: none;
        color: $colorText;
        transition: .3s;
        &:hover{
            color: black;
        } 
    }
    .fa-angle-double-right{
        margin: 0rem .3rem;
        color: #555a64;
        font-size: .9rem;
    }
    .active{
        cursor: default;
    }
}